.animation-buttons {
  display: flex;
  justify-content: space-between;
  width: 45rem;
}

.my-square {
  width: 100px;
  height: 100px;
}

.animation-form {
  display: flex;
  justify-content: space-between;
  width: 30rem;
}

.popover-span {
  color: green;
  font-weight: bold;
}