.animation-buttons {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.my-square {
  width: 100px;
  height: 100px;
}

.animation-form {
  display: flex;
  justify-content: space-between;
  width: 30rem;
}